{% load custom_tags %}
{% for project in projects_with_user %}
    <h1> {{ project.Project_name }} </h1>
    <ul>
        {% with project_id=project.Project_ID %}
            {% if tasks_by_project|get_item:project_id %}
                {% for task in tasks_by_project|get_item:project_id %}
                    <li>{{ task.task_title }} //// due: {{ task.Due_Date }}</li>
                {% endfor %}
            {% else %}
                <li>None</li>
            {% endif %}
        {% endwith %}
    </ul>
{% endfor %}

<br>
<a href="{% url 'taskIndex' %}">back</a>