.container_project_add{
    display: grid;
    grid-template-columns: 2fr 3fr;
    background-color: rgb(255, 255, 255);
    border-radius: 60px;
    padding: 20px;

    height: auto;
    min-height: 300px;
    
    margin-top: 100px;
    margin-left: 300px;
    margin-right: 100px;
    box-shadow: 4px 4px 5px rgb(211, 211, 211);
}

.container_project_add .cover{
    width: 100%; 
    object-fit: cover;
    align-self: self-end;
    opacity: 0.4;
}

.container_project_add .content{
    margin-left: 50px;
}

.project-add-header{
    text-align: left;
    font-size: 60px;
    font-weight: 700;
    font-family: Arial;

    letter-spacing: 5px;
    margin-bottom: 15px;
    
}

.project_name_form{
    margin-top: 10px;
}

.project_name_form label{
    font-size: larger;
    color: rgb(51, 46, 81);
    padding: 6px;
    padding-left: 10px;
    border-radius: 8px;
    margin-right: 5px;
    background-color: #dae7f3;
}

.project_name_form input{
    text-align: center;
    font-size: larger;
    border: none;
    border-bottom: 2px solid #ccc;

    background-color: rgb(255, 255, 255);

    margin-bottom: 10px;
}

.project_name_form input::placeholder{
    color: #525252; 
}


.project_name_form input:focus {
    outline: none; 
    border-color:rgba(0, 123, 255, 0.5);
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
}

.added_member_box{
    margin-top: 10px;
    }

.added_member_box .head{
    display: flex;
    justify-content: center;
    font-size: larger;
    color: rgb(51, 46, 81);
    padding: 6px;
    border-radius: 8px;
    margin-right: 5px;
    background-color: #dae7f3;
}

.added_member_box .memberbox{
    display: grid;
    grid-template-columns: 20px 1fr 30px;
    padding: 15px;
    padding-bottom: 10px;
    border-radius: 15px;
    margin-top: 5px;
    margin-right: 3px;
    background-color: rgb(232, 234, 238);
}

.memberbox img{
    width: 85%; 
    margin-top: 2px;
}


.memberbox p{
    font-size: larger;
    color: rgb(58, 57, 64);
    margin-bottom: 10px;
}

.memberbox .remove-button {
    border: none;
    outline: none; 
}

.memberbox .remove-button:hover {
    padding: 5px;
    background-color: rgb(232, 234, 238);
}




.friend_container{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}

.addmember_and_submit{
    display:grid;
    grid-template-columns: 200px 70px 1fr;
}

.addmember_and_submit option{
    font-size: 20px;
}

.added_member_box select{
    font-size: 20px;
}

.addmember_and_submit .button{
    display: inline-block;
    background-color: #dae7f3;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    padding:5px;
    padding-left: 15px;
    padding-right: 65px;
    margin-left: 3px;
    margin-right: 3px;
    transition: 0.10s;
}

.addmember_and_submit .button:hover{
    background-color: #bccfe1;
    border: none;
    border-radius: 10px;
    padding:5px;
    padding-left: 15px;
    padding-right: 65px;
    margin-left: 3px;
    margin-right: 3px;
    box-shadow: 2px 2px 10px rgb(234, 234, 234);
}


.submit_add_project_box{
    text-align: end;
}

.submit_add_project_box .submit_add_project{
    background-color: #dae7f3;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    padding:5px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 3px;
    transition: 0.10s;
}

.submit_add_project_box .submit_add_project:hover{
    background-color: #bccfe1;
    border: none;
    border-radius: 10px;
    padding:5px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 3px;
    box-shadow: 2px 2px 10px rgb(234, 234, 234);
}

