
body{
    height: 100vh;
    display: grid;
    align-items: baseline;
    background-image: url("indexbackground.png");
    background-size: cover;
    background-position: center;
    padding: 30px;
    font-size: 30px;
}


.container{
    position: relative;

    justify-self: center;
    max-width: 850px;
    width: 100%;
    background: #fff;
    padding: 40px 30px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-decoration: none;
    
}


.name{
    display: inline-block;
    text-decoration: none;
    color: rgb(68, 68, 68);
    font-weight: 600;
    font-size: 40px;
}

.link{
    text-decoration: none;
    justify-self: end;
    margin-top: 8px;
}

.link a{
    text-decoration: none;
    margin-left: 20px;

    color: rgb(68, 68, 68);
    font-weight: 600;
    font-size: 30px;
}

.link a:hover{
    border-bottom: 5px solid rgb(68, 68, 68);
    transition: 0.15s;
}

.middle-content{
    display: grid;
    grid-template-columns: 5fr 4fr;
}

.text-box{
    text-align: center;
    color: rgb(68, 68, 68);

}

.text-box a{
    text-decoration: none;
    color: rgb(68, 68, 68);
    font-size: 25px;
    
    
}

.text-box p{
    font-size: 25px;
    color: rgb(68, 68, 68);
    
}

.text-box a:hover{
    border-bottom: 2px solid rgb(0, 0, 0);
    transition: 0.15s;
}

.cover{
    width: 100%;
}

