.content_box{
    display: inline-block;
    margin-top: 125px;
    margin-left: 300px;
    width: 800px;
    height: auto;
    min-height: 400px;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    padding: 50px;
}

.content_box .project_name{
    display: inline-block;
    color: rgb(103, 144, 181);
    font-size: 30px;
    font-weight: 500;


    padding: 10px 20px;

    margin-bottom: 5px;
    margin-right: 200px;

    border-radius: 20px;
    background-color: #dbe5fa;
}







.task_container{
    margin-left: 10px;
    display: block;
    margin-bottom: 20px;
}

.task_container .due_date{
    display: block;
    color: rgb(96, 94, 94);
}

.due_date .late{
    color:rgb(206, 36, 36);
}

.due_date .completed{
    color:rgb(143, 188, 76);
}


.due_date .upcoming{
    color: rgb(92, 90, 90);
}

.task_container .task_and_mark{
    display: grid;
    grid-template-columns: 1fr 150px;
}

.task_and_mark .task_box{
    margin-left: -4px;
    background-color: #dbebfabe;
    border-radius: 7px;
    padding: 9px;
    margin-right: 50px;
    margin-bottom: 5px;
}

.task_box .task-content{
    color: rgb(76, 114, 147);
}

.task_and_mark .mark{
    color: rgb(103, 144, 181);
    font-size: 18px;
    height: 85%;
    font-weight: 600px;
    background-color:  #dbebfa;
    border: none;
    
    border-radius: 5px;
    transition-duration: 0.2s;
}

.task_and_mark .mark:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(176, 189, 233)
}





.Owned_task_and_other_tasks_label{
    display: inline-block;
    color: rgb(103, 144, 181);
    font-size: 15px;
    font-weight: 500;

    padding-left: 15px;
    padding-right: 15px;

    margin-top: 25px;
    margin-bottom: 15px;
    margin-left: -5px;

    border-radius: 50px;
    background-color: #dbebfa;
}



/* edit button */
.custom-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 7px 20px;
    
    color: black;
    font-size: 30px;
    font-weight: 500;

    
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.custom-button-orange{
    background-color: rgb(248, 213, 161);
}

.custom-button-orange:hover{
    background-color: #e3b342;
}

.custom-button-red{
    background-color: rgb(252, 185, 185);
}

.custom-button-red:hover{
    background-color: rgb(246, 162, 156);
}
    

.button-icon {
    margin-left: 8px;
    width: 30px; 
    height: 30px; 
}