/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --white-color: #fff;
  --blue-color: #4070f4;
  --grey-color: #707070;
  --grey-color-light: #aaa;
}
body {
  background-color: #e3ebf4;
  transition: all 0.5s ease;
}
body.dark {
  background-color: #333;
}
body.dark {
  --white-color: #333;
  --blue-color: #fff;
  --grey-color: #f2f2f2;
  --grey-color-light: #aaa;
}

/* navbar */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  background-color: rgb(14, 115, 203);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
  z-index: 1000;
  box-shadow: 0 0 2px var(--grey-color-light);
}
.logo_item {
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-size: 22px;
  font-weight: 500;
  color: rgb(233, 236, 239);
}
.navbar img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.search_bar {
  height: 47px;
  max-width: 430px;
  width: 100%;
}
.search_bar input {
  height: 100%;
  width: 100%;
  border-radius: 25px;
  font-size: 18px;
  outline: none;
  background-color: var(--white-color);
  color: var(--grey-color);
  border: 1px solid var(--grey-color-light);
  padding: 0 20px;
}
.navbar_content {
  display: flex;
  align-items: center;
  column-gap: 25px;
}
.navbar_content i {
  cursor: pointer;
  font-size: 20px;
  color: rgb(233, 236, 239);
}

/* sidebar */
.sidebar {
  background-color: var(--white-color);
  width: 260px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  padding: 80px 20px;
  z-index: 100;
  overflow-y: scroll;
  box-shadow: 0 0 1px var(--grey-color-light);
  transition: all 0.5s ease;
}
.sidebar.close {
  padding: 60px 0;
  width: 80px;
}
.sidebar::-webkit-scrollbar {
  display: none;
}
.menu_content {
  position: relative;
}
.menu_title {
  margin: 15px 0;
  padding: 0 20px;
  font-size: 18px;
}
.sidebar.close .menu_title {
  padding: 6px 30px;
}
.menu_title::before {
  color: var(--grey-color);
  white-space: nowrap;
}
.menu_dahsboard::before {
  content: "Dashboard";
}
.menu_editor::before {
  content: "Editor";
}
.menu_setting::before {
  content: "Setting";
}
.sidebar.close .menu_title::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 18px;
  border-radius: 12px;
  background: var(--grey-color-light);
}
.menu_items {
  padding: 0;
  list-style: none;
}
.navlink_icon {
  position: relative;
  font-size: 22px;
  min-width: 50px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 6px;
}
.navlink_icon::before {
  content: "";
  position: absolute;
  height: 100%;
  width: calc(100% + 100px);
  left: -20px;
}
.navlink_icon:hover {
  background: var(--blue-color);
}
.sidebar .nav_link {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 4px 15px;
  border-radius: 8px;
  text-decoration: none;
  color: var(--grey-color);
  white-space: nowrap;
}

.sidebar.close .navlink {
  display: none;
}
.nav_link:hover {
  color: var(--white-color);
  background: var(--blue-color);
}
.sidebar.close .nav_link:hover {
  background: var(--white-color);
}
.submenu_item {
  cursor: pointer;
}
.submenu {
  display: none;
}
.submenu_item .arrow-left {
  position: absolute;
  right: 10px;
  display: inline-block;
  margin-right: auto;
}
.sidebar.close .submenu {
  display: none;
}
.show_submenu ~ .submenu {
  display: block;
}
.show_submenu .arrow-left {
  transform: rotate(90deg);
}
.submenu .sublink {
  padding: 15px 15px 15px 52px;
}
.bottom_content {
  position: fixed;
  bottom: 60px;
  left: 0;
  width: 260px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.bottom {
  position: absolute;
  display: flex;
  align-items: center;
  left: 0;
  justify-content: space-around;
  padding: 18px 0;
  text-align: center;
  width: 100%;
  color: var(--grey-color);
  border-top: 1px solid var(--grey-color-light);
  background-color: var(--white-color);
}
.bottom i {
  font-size: 20px;
}
.bottom span {
  font-size: 18px;
}
.sidebar.close .bottom_content {
  width: 50px;
  left: 15px;
}
.sidebar.close .bottom span {
  display: none;
}
.sidebar.hoverable .collapse_sidebar {
  display: none;
}
#sidebarOpen {
  display: none;
}
@media screen and (max-width: 768px) {
  #sidebarOpen {
    font-size: 25px;
    display: block;
    margin-right: 10px;
    cursor: pointer;
    color: var(--grey-color);
  }
  .sidebar.close {
    left: -100%;
  }
  .search_bar {
    display: none;
  }
  .sidebar.close .bottom_content {
    left: -100%;
  }
}




@media screen and (max-width: 600px) {
  .original-box-shadow {
      width: 100%; /* Make the box take full width on smaller screens */
  }
}
.circle {
  width: 20px;
  height: 20px;
  border-radius: 25;
  background-color: #FFD700;
   margin-left: auto;
  margin-right: 10px;
}
.original-box-shadow {
  position: relative;
  background-color: #FFFFFF;
  width: 400px;
  height: 250px;
  margin: 15px; 
  border-radius: 20px;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
  text-decoration: none;
  transition: background-color 0.3s ease;
  cursor: pointer; 
  color: #707070;
  padding: 25px;
}
.original-box-shadow:hover {
  background-color: #d1e5f4; 
}

.task-due{
  display: inline-block;
  color: #707070;
  font-size: 20px;
  margin-bottom:10px;
  font-weight: 500;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 50px;
  background-color: #edeec6;
}
.task-past{
  display: inline-block;
  color: #707070;
  font-size: 20px;
  margin-bottom:10px;
  font-weight: 500;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 50px;
  background-color: #fecdc6;
}
.task-com{
  display: inline-block;
  color: #707070;
  font-size: 20px;
  margin-bottom:10px;
  font-weight: 500;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 50px;
  background-color: rgb(190, 247, 157)
}



.description {
  color: rgb(96, 94, 94);
  display: flex;
  font-size: 17px;
  align-items: center;
  
  margin-top:20px;
  justify-content: center;
}

.status {
  position: absolute;
  display: block;
  bottom : 10px;
  
}


.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap; 
  justify-content: center;
  height: auto; 
  margin-top: 170px; /* Adjust the top margin if needed */
  margin-left: 100px;
  margin-bottom: 100px;
  
}


.right-top-addtask {
  position: absolute;
  top: 100px; 
  right: 100px; 
  display: flex;
  width: 160px;
  text-decoration: none;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  font-size: 20px;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
  transition: background-color 0.3s ease;
  cursor: pointer;
  color: #707070;
 
}
.right-top-request{
  position: absolute;
  top: 100px; 
  right: 300px; 
  display: flex;
  width: 160px;
  text-decoration: none;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  font-size: 20px;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
  transition: background-color 0.3s ease;
  cursor: pointer;
  color: #707070;
}

.right-top-accept{
  position: absolute;
  top: 100px; 
  right: 500px; 
  display: flex;
  width: 160px;
  text-decoration: none;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  font-size: 20px;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
  transition: background-color 0.3s ease;
  cursor: pointer;
  color: #707070;
}

.right-top-addtask:hover {
  background-color: #d1e5f4; /* Change background color on hover */
}


.picture {
  
  display: flex;
  flex-direction: row;
  bottom : 10px;
  
}
.picture .pictureteam {
  position: absolute;
  display: block;
  
}


/*project detail*/

.project_name {
  display: inline-block;
  color: rgb(103, 144, 181);
  font-size: 20px;
  font-weight: 500;

  padding-left: 20px;
  padding-right: 20px;

  margin-bottom: 5px;

  border-radius: 50px;
  background-color: #dbebfa;
}

.content_box{
  display: inline-block;
  margin-top: 125px;
  margin-left: 300px;
  width: 800px;
  height: 500px;
  background-color: rgb(255, 255, 255);
  border-radius: 50px;
  padding: 50px;
}

.content_box .project_name{
  display: inline-block;
  color: rgb(103, 144, 181);
  font-size: 30px;
  font-weight: 500;

  padding-left: 20px;
  padding-right: 20px;

  margin-bottom: 15px;

  border-radius: 50px;
  background-color: #dbebfa;
}



.task_container{
  margin-left: 10px;
  display: block;
  margin-bottom: 20px;
}

.task_container .due_date{
  display: block;
  color: rgb(96, 94, 94);
}

.task_container .date{
  display: block;
  font-size: 25px;
  color: rgb(96, 94, 94);
  margin-bottom: 20px;
}

.task_container .title{
  display: block;
  font-size: 25px;
  color: rgb(96, 94, 94);
  margin-bottom: 20px;
}

.task_container .description{
  display: block;
  font-size: 25px;
  color: rgb(96, 94, 94);
  margin-bottom: 20px;
}
.task_container .descriptiondetail{
  display: flex;
  font-size: 20px;
  margin-bottom: 50px;
  color: rgb(96, 94, 94);
}

.task_container .file{
  display: block;
  margin-top: 30px;
  font-size: 20px;
  color: rgb(96, 94, 94);
 
}
.task_container .submit{

  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgb(58, 183, 225);
  border-radius: 25px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
  font-size: 20px;
  color: rgb(255, 255, 255);
 
}

.task_container .task_and_mark{
  display: grid;
  grid-template-columns: 1fr 150px;
}

.task_and_mark .task_box{
  margin-left: -4px;
  background-color: #dbebfa;
  border-radius: 7px;
  padding: 7px;
  margin-right: 50px;
}

.task_box .task-content{
  color: rgb(76, 114, 147);
}

.task_and_mark .mark{
  color: rgb(103, 144, 181);
  font-size: 18px;
  font-weight: 600px;
  background-color:  #dbebfa;
  border: none;
  border-radius: 5px;
  transition-duration: 0.2s;
}

.task_and_mark .mark:hover{
  color: rgb(255, 255, 255);
  background-color: rgb(176, 189, 233)
}

.detailtask_box{
  display: flex;
  margin-top: 125px;
  width: 1000px;
  height: auto;
  background-color: rgb(255, 255, 255);
  border-radius: 50px;
  padding: 50px;
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}