{%load static %}
{% load custom_filters %}
<!DOCTYPE html>
<!-- Coding Navbar by CodingNepal || www.codingnepalweb.com -->
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Boxicons CSS -->
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <title>Task</title>

    <link rel="stylesheet" href="{% static 'css_main/style.css' %}">
    <link rel="stylesheet" href="{% static 'css_main/task_detail.css' %}">

    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@200;300;400;500&display=swap" rel="stylesheet">
</head>

<body>

    <!-- navbar -->

    <nav class="navbar">

        <div class="logo_item"> 
            ToDoList
          <i class="bx bx-menu" id="sidebarOpen"></i>
        </div>
  

        <div class="search_bar">
            <input type="text" placeholder="Search" />
        </div>

        <div class="navbar_content">
            <i class="bi bi-grid"></i>
            <i class='bx bx-sun' id="darkLight"></i>
            <div class="icon-dropdown">
              <i class='bx bx-bell'></i>
              <div class="dropdown-content">
                  <table>
                      <tbody>
                          {% for request in notification %}
                              <tr>
                                  <td>
                                      <img src="{{ request.From_user.image_field.url }}" alt="User Image" > 
                                      <a href="{% url 'friend request' %}">friend request</a>
                                  </td>
                              </tr>
                          {% endfor %}
                      </tbody>
                  </table>
              </div>
          </div>
    
          <img src="{{ todouser.image_field.url }}" alt="" class="profile" />
        </div>
    </nav>
    <!-- sidebar -->
    <nav class="sidebar">
        <div class="menu_content">
            <ul class="menu_items">
                <div class="menu_title menu_dahsboard"></div>
                <!-- start -->
                <li class="item">
                    <a href="{% url 'homepage' %}" class="nav_link submenu_item">
                        <span class="navlink_icon">
                            <i class="bx bx-home-alt"></i>
                        </span>
                        <span class="navlink">Home</span>
                      </a>

                   
                </li>
                <!-- end -->

                <!-- duplicate this li tag if you want to add or remove  navlink with submenu -->
                <!-- start -->
                <li class="item">
                    <div href="#" class="nav_link submenu_item">
                        <span class="navlink_icon">
                            <i class="bx bx-grid-alt"></i>
                        </span>
                        <span class="navlink">Account</span>
                        <i class="bx bx-chevron-right arrow-left"></i>
                    </div>

                    <ul class="menu_items submenu">
                        <a href="{% url 'myaccount' %}" class="nav_link sublink">My account</a>
                        <a href="{% url 'friend_list' %}" class="nav_link sublink">Friend</a>
                        <a href="{% url 'logout' %}" class="nav_link sublink">Log out</i></a>

                    </ul>
                </li>
                <!-- end -->
            </ul>

            <ul class="menu_items">
                <div class="menu_title menu_task"></div>
                <!-- duplicate these li tag if you want to add or remove navlink only -->
                <!-- Start -->
                <li class="item">
                    <a href="{% url 'individual_tasklist' %}" class="nav_link">
                      <span class="navlink_icon">
                        <i class="bx bxs-magic-wand"></i>
                      </span>
                      <span class="navlink">Task</span>
                    </a>
                  </li>
                  <!-- End -->
        
                  <li class="item">
                    <a href="{% url 'individual_past_tasklist' %}" class="nav_link">
                      <span class="navlink_icon">
                        <i class="bx bx-loader-circle"></i>
                      </span>
                      <span class="navlink">Past due</span>
                    </a>
                  </li>
                  <li class="item">
                    <a href="{% url 'individual_com_tasklist' %}" class="nav_link">
                      <span class="navlink_icon">
                        <i class="bx bx-filter"></i>
                      </span>
                      <span class="navlink">Completed task</span>
                    </a>
                  </li>
                <!--
          <li class="item">
            <a href="#" class="nav_link">
              <span class="navlink_icon">
                <i class="bx bx-cloud-upload"></i>
              </span>
              <span class="navlink">Upload new</span>
            </a>
          </li>
          -->
            </ul>
            <ul class="menu_items">
                <div class="menu_title menu_project"></div>
                <li class="item">
                    <a href="{% url 'ProjectList' %}" class="nav_link">
                        <span class="navlink_icon">
                            <i class="bx bx-flag"></i>
                        </span>
                        <span class="navlink">My Project</span>
                    </a>
                </li>
                <li class="item">
                    <a href="{% url 'projectAdd' %}" class="nav_link">
                        <span class="navlink_icon">
                            <i class="bx bx-medal"></i>
                        </span>
                        <span class="navlink">Create Project</span>
                    </a>
                </li>
                <!-- <li class="item">
            <a href="#" class="nav_link">
              <span class="navlink_icon">
                <i class="bx bx-cog"></i>
              </span>
              <span class="navlink">Setting</span>
            </a>
          </li>
          <li class="item">
            <a href="#" class="nav_link">
              <span class="navlink_icon">
                <i class="bx bx-layer"></i>
              </span>
              <span class="navlink">Features</span>
            </a>
          </li>
        </ul> -->
                <!-- Sidebar Open / Close -->
                <div class="bottom_content">
                    <div class="bottom expand_sidebar">
                        <span> Expand</span>
                        <i class='bx bx-log-in'></i>
                    </div>
                    <div class="bottom collapse_sidebar">
                        <span> Collapse</span>
                        <i class='bx bx-log-out'></i>
                    </div>
                </div>
        </div>
    </nav>

    <div class='tasK_detail_container'>
      
        <div class="head">
            <label class='task_title'>
              {{taskdetail.task_title}}
            </label>

            <div class ='edit_delete_achieve'>

                {% if authorization == task.Teamleader %}
                  <div class="button_and_icon">
                    <a href="{% url 'project_task_edit' task_id=taskdetail.Task_ID %}" class="edit-button">Edit Task</a>
                    <img src="" alt="">
                  </div>
                {% endif %} 

                {% if authorization == task.Teamleader %}
                  <div class="button_and_icon">
                    <a href="{% url 'delete_project_task' task_id=taskdetail.Task_ID %}"class="delete_button">Delete Task</a>
                  
                  </div>
                {% endif %} 
                

                  <form action="{% url 'project_task_submit' task_id=taskdetail.Task_ID %}" method="post" class="button_and_icon">
                    {% csrf_token %}
                    {% if taskdetail.achieve %}
                      <button type="submit" name="action" class = "achieve_button"  value="undo">Undo Achieve</button>
                    {% else %}
                      <button type="submit" name="action" class = "achieve_button" value="achieve">Achieve</button>
                    {% endif %}
                  </form>


            </div>

        </div>


        <div class="task_date">
            <div class="">
                <label for="">Entry date</label>
                <p class=''>{{ taskdetail.Entry_Date }}</p>
            </div>

            <div class="due_date">
                <label for="">Due date</label>
                <p class=''>{{ taskdetail.Due_Date }}</p>
            </div>

        </div>

        <div class='description_box'>
            <label class=''>Description:</label>
            <p class=''>{{ taskdetail.description }}</p>
        </div>

        
        <div class="file">

            <label for="">File Attachment</label>
            <div class=''>
                {% if taskdetail.file %}
                  <a href="{% url 'download_file' task_id=taskdetail.Task_ID %}" download>{{ taskdetail.file.name|filename }}</a>
                {% else  %}
                  there is no file
                {% endif %}
            </div>

            
            <div class='file_upload'>
                <form action="{%url 'upload_file' task_id=taskdetail.Task_ID %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="file" name="file_task"><br>
                    <button type="submit">Upload</button>
                </form>
            </div>

        </div>



    </div>
    
    





    <!-- JavaScript -->
    <!-- JavaScript -->
    <script src="{% static 'javasc/script.js' %}"></script>
</body>

</html>