<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <form method="post" action="">
            {% csrf_token  %}
            <p>project name</p>
            {{ form.Project_name }}

            <p>Team member</p>
            {{ form.TeamMember }}

            <p>Add member</p>
            <select name="friend">
                <option value="None">======</option>
                {% for friend in friendList %}
                <option value="{{ friend.todoUser_ID }}"> {{ friend.Firstname }} </option>
                {% endfor %}
            </select>


            <button type="submit">Save Changes</button>
        </form>
    </body>
</html>