{%load static %}
<!DOCTYPE html>
<!-- Coding Navbar by CodingNepal || www.codingnepalweb.com -->
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Boxicons CSS -->
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <title>Project</title>
    <link rel="stylesheet" href="{% static 'css_main/style.css' %}">
    <link rel="stylesheet" href="{% static 'css_main/project_list.css' %}">
  </head>
  <body>
    <!-- navbar -->
    <nav class="navbar">
      
        <div class="logo_item"> 
            ToDoList
          <i class="bx bx-menu" id="sidebarOpen"></i>
        </div>
  
  
        <div class="search_bar">
          <input type="text" placeholder="Search" />
        </div>
  
        <div class="navbar_content">
          <i class="bi bi-grid"></i>
          <i class='bx bx-sun' id="darkLight"></i>
          <i class='bx bx-bell' ></i>
          <img src="{% static 'images/defaultprofile.jpg' %}" alt="" class="profile" />
        </div>
      </nav>
      <!-- sidebar -->
      <nav class="sidebar">
        <div class="menu_content">
          <ul class="menu_items">
            <div class="menu_title menu_dahsboard"></div>
            <!-- start -->
            <li class="item">
              <a href="{% url 'homepage' %}" class="nav_link submenu_item">
                <span class="navlink_icon">
                    <i class="bx bx-home-alt"></i>
                </span>
                <span class="navlink">Home</span>
              </a>
            </li>
            <!-- end -->
  
            <!-- duplicate this li tag if you want to add or remove  navlink with submenu -->
            <!-- start -->
            <li class="item">
              <div href="#" class="nav_link submenu_item">
                <span class="navlink_icon">
                  <i class="bx bx-grid-alt"></i>
                </span>
                <span class="navlink">Account</span>
                <i class="bx bx-chevron-right arrow-left"></i>
              </div>
  
              <ul class="menu_items submenu">
                <a href="{% url 'myaccount' %}" class="nav_link sublink">My account</a>
                <a href="{% url 'friend_list' %}" class="nav_link sublink">Friend</a>
                <a href="{% url 'logout' %}" class="nav_link sublink">Log out</i></a>
  
              </ul>
            </li>
            <!-- end -->
          </ul>
  
          <ul class="menu_items">
            <div class="menu_title menu_task"></div>
            <!-- duplicate these li tag if you want to add or remove navlink only -->
            <!-- Start -->
            <li class="item">
              <a href="{% url 'individual_tasklist' %}" class="nav_link">
                <span class="navlink_icon">
                  <i class="bx bxs-magic-wand"></i>
                </span>
                <span class="navlink">Task</span>
              </a>
            </li>
            <!-- End -->
  
            <li class="item">
              <a href="{% url 'individual_past_tasklist' %}" class="nav_link">
                <span class="navlink_icon">
                  <i class="bx bx-loader-circle"></i>
                </span>
                <span class="navlink">Past due</span>
              </a>
            </li>
            <li class="item">
              <a href="{% url 'individual_com_tasklist' %}" class="nav_link">
                <span class="navlink_icon">
                  <i class="bx bx-filter"></i>
                </span>
                <span class="navlink">Completed task</span>
              </a>
            </li>
            <!--
            <li class="item">
              <a href="#" class="nav_link">
                <span class="navlink_icon">
                  <i class="bx bx-cloud-upload"></i>
                </span>
                <span class="navlink">add task</span>
              </a>
            </li>
            -->
          </ul>
          <ul class="menu_items">
            <div class="menu_title menu_project"></div>
            <li class="item">
              <a href="{% url 'ProjectList' %}" class="nav_link">
                <span class="navlink_icon">
                  <i class="bx bx-flag"></i>
                </span>
                <span class="navlink">My Project</span>
              </a>
            </li>
            <li class="item">
              <a href="{% url 'projectAdd' %}" class="nav_link">
                <span class="navlink_icon">
                  <i class="bx bx-medal"></i>
                </span>
                <span class="navlink">Create Project</span>
              </a>
            </li>
            <!-- <li class="item">
              <a href="#" class="nav_link">
                <span class="navlink_icon">
                  <i class="bx bx-cog"></i>
                </span>
                <span class="navlink">Setting</span>
              </a>
            </li>
            <li class="item">
              <a href="#" class="nav_link">
                <span class="navlink_icon">
                  <i class="bx bx-layer"></i>
                </span>
                <span class="navlink">Features</span>
              </a>
            </li>
          </ul> -->
          <!-- Sidebar Open / Close -->
          <div class="bottom_content">
            <div class="bottom expand_sidebar">
              <span> Expand</span>
              <i class='bx bx-log-in' ></i>
            </div>
            <div class="bottom collapse_sidebar">
              <span> Collapse</span>
              <i class='bx bx-log-out'></i>
            </div>
          </div>
        </div>
    </nav>
    
      <a href="{% url 'task_add' project_ID=project_obj.Project_ID %}" class="right-top-addtask"> 
        Add Task 
      </a>
    
    <!--content -->
    <div class= 'content_box'>
        <p class='project_name'>
            {{ project_name }}
        </p>
        
        <a href="{% url 'project_edit' project_id=project_obj.Project_ID %}" class=""> 
          Edit Project
        </a>
        <a href="{% url 'project_delete' project_id=project_obj.Project_ID %}" class=""> 
          Delete Project
        </a>
        
        <div class='task_container'>
            <p class ='Owned_task_and_other_tasks_label'>
                Owned Tasks
            </p>

            {% for task in assignedtask %}
            <div class='due_date'>
                {% if task.time_difference_format == "Late"%}
                    <p class='late'>
                        Past due
                    </p>
                {% elif 'Completed' in task.time_difference_format %}
                    <p class='completed'>
                        {{task.time_difference_format}}
                    </p>
                {% else %}
                    <p class='upcoming'>
                        {{task.time_difference_format}}
                    </p>
                {% endif %}
            </div>
            <div class='task_and_mark'>

                <div class='task_box'>
                  {% if authorization == task.Teamleader or authorization == task.TeamUser  %}
                    <a href="{% url 'project_task_detail' task_id=task.Task_ID %}"  class ='task-content'>
                          {{task.task_title}}
                    </a>
                  {% else %}
                    {{task.task_title}}
                  {% endif %}
                    
                </div>

                <button class='mark'>
                    mark as finish
                </button>

            </div>
            {% endfor %}
        </div>

        <div class='task_container'>
          <p class ='Owned_task_and_other_tasks_label'>
              Other Tasks
          </p>

          {% for task in other_tasks %}
          <div class='due_date'>
              {% if task.time_difference_format == "Late"%}
                  <p class='late'>
                      Past due
                  </p>
              {% elif 'Completed' in task.time_difference_format %}
                  <p class='completed'>
                      {{task.time_difference_format}}
                  </p>
              {% else %}
                  <p class='upcoming'>
                      {{task.time_difference_format}}
                  </p>
              {% endif %}
          </div>
          <div class='task_and_mark'>

              <div class='task_box'>
                {% if authorization == task.Teamleader or authorization == task.TeamUser  %}
                    <a href="{% url 'project_task_detail' task_id=task.Task_ID %}"  class ='task-content'>
                          {{task.task_title}}
                    </a>
                {% else %}
                    {{task.task_title}}
                {% endif %}
              </div>
          </div>
          {% endfor %}
      </div>


    


    <!-- JavaScript -->
    <script src="{% static 'javasc/script.js' %}"></script>
  </body>
</html>