{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    
    <link rel="stylesheet" href="{% static 'user_css/login_register.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>
    <a href="{% url 'login' %}" class="nav_link sublink">Log in</i></a>
    <a href="{% url 'register' %}">Sign Up</a>
    <a href="{% url 'about' %}">About us</a>
    <div class="container">
        <h1>เกี่ยวกับ:</h1>
    <h2>สมาชิก:</h2>
    <ul>
        <li>นิพิฐพนธ์ กำพลรัตน์ 6410685173</li>
        <li>ธนบูรณ์ จิวริยเวชช์ 6410615055</li>
        <li>นวภูมิ นาชัย 6410615071</li>
        <li>ปริวรรต สวัสดิ์ชาติ 6410685207</li>
        <li>ศุทธา จงเจริญ 6410615121</li>
    </ul>

    <h2>ลิงค์:</h2>
    <ul>
        <li><a href="https://www.pivotaltracker.com/n/projects/2682452">pivotaltracker</a></li>
        <li><a href="https://github.com/6410615121/todoList">github</a></li>
    </ul>
    </div>

</body>

</html>