{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TodoList Homepage</title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css_main/index.css' %}">
   
</head>

<body>
    <div class='header'>
        <label class='name' for="TodoList">ToDoList</label>
        <div class="link">
            <a href="{% url 'login' %}" class="nav_link ">Log in</i></a>
            <a href="{% url 'register' %}">Sign Up</a>
            <a href="{% url 'about' %}">About us</a>
        </div>
    </div>  

    <div class='middle-content'>
        <div class = 'text-box'>
            <h3>สมาชิก:</h3>
        <ul>
           <p> นิพิฐพนธ์ กำพลรัตน์   6410685173 </p>
           <p> ธนบูรณ์ จิวริยเวชช์    6410615055 </p>
           <p>นวภูมิ นาชัย         6410615071 </p>
           <p>ปริวรรต สวัสดิ์ชาติ    6410685207 </p>
           <p>ศุทธา จงเจริญ       6410615121 </p>
        </ul>

        <h3>ลิงค์:</h3>
        <ul>
            <a href="https://www.pivotaltracker.com/n/projects/2682452">pivotaltracker</a> <br>
            <a href="https://github.com/6410615121/todoList">github</a>
         </ul>
            
    
    </div>

</body>

</html>