<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>about us</title>
</head>
<body>
    <h1>เกี่ยวกับ:</h1>
    <h2>สมาชิก:</h2>
    <ul>
        <li>นิพิฐพนธ์ กำพลรัตน์ 6410685173</li>
        <li>ธนบูรณ์ จิวริยเวชช์ 6410615055</li>
        <li>นวภูมิ นาชัย 6410615071</li>
        <li>ปริวรรต สวัสดิ์ชาติ 6410685207</li>
        <li>ศุทธา จงเจริญ 6410615121</li>
    </ul>

    <h2>ลิงค์:</h2>
    <ul>
        <li><a href="https://www.pivotaltracker.com/n/projects/2682452">pivotaltracker</a></li>
        <li><a href="https://github.com/6410615121/todoList">github</a></li>
    </ul>
    
</body>
</html>