{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    
    <link rel="stylesheet" href="{% static 'user_css/login_register.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>
    <div class="container">
        <div class="cover">
            <div class="image">
                <img src= "{% static 'images/login.jpg' %}"> 
            </div>
            <!--
            <div class="text">
                <span class="text-1">ToDoList</span>
                <span class="text-2">Let's get connected</span>
            </div>
            -->
        </div>
        <form action="{%url 'login' %}" method="post" class="login100-form validate-form">
            {% csrf_token %}
            <div class="form-content">
                <div class="login-form">
                    <div class="title">Login</div>
                    <div class="input-boxes">
                        <div class="input-box">
                            <i class="fas fa-user"></i>
                            <input type="text" name="username" placeholder="Enter your username" required>
                        </div>

                        <div class="input-box">
                            <i class="fas fa-lock"></i>
                            <input type="password" name="password" placeholder="Enter your password" required>
                        </div>

                        <div>
                            {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                    <p{% if message.tags %} style='color: red;' class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </div>

                        <div class="text"><a href="#">Forgot password?</a></div>
                        <div class="button input-box">
                            <input type="submit"  value="Login">
                        </div>
                        <div class="text">Don't have an account ? <a href="{% url 'register' %}">Sign Up Now</a></div>
                    </div>
                </div>
            </div>
        </form>
    </div>

</body>

</html>